.title-todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #70bfdb !important;
    height: 100px !important;
    padding: 40px;
    padding-top: 60px;
    color: #ffff;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 44px;
}

.todo-list{
    display: flex;
}

.title-todo-list{
    display: flex;
    align-items: center;
    padding-top: 7px;
    border: solid #ffff;
    border-bottom: none;
    border-top: none;
    border-left: none;
    margin-right: 60px;
    padding-right: 60px;
    font-size: 35px;
    height: 70px;
}

.text-incompleted{
    margin: 5px 0px 4px 0px !important;
    font-size: 22px;
}

.day{
    color: #ffffff91 !important;
}

.tasks{
    display: flex;
    font-size: 18px;
}

.link-incompleted{
    margin-right: 50px;
}

.link-completed{
    color: #ffffff63 !important;
}

.botton-add-task{
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    padding: 0% !important;
}

.add-task{
    background-color: #70c0db;
    border-color: #70c0db;
    width: 150px;
    border-radius: 3px;
}

#board{
    background-color: #f7f6f2;
    height: 520px;
    padding: 20px 40px 0px 40px;
}

.title-board{
    display: flex;
    color: #ffff;
    background-color: #184668;
    justify-content: space-between;
    height: 60px;
    padding-top: 17px;
}

.title-task{
    margin-left: 80px;
}

.title-action{
    margin-left: -500px;
    margin-right: 135px;
}

.board{
    display: flex;
    color: black;
    background-color: #ffffff;
    justify-content: space-between;
    height: 60px;
    padding-top: 17px;
    border-bottom: #f1eef1 solid;
}

.text-board{
    margin-left: -675px;
}

.text-day{
    margin-left: -80px;
}

.text-day-15{
    margin-left: -124px;
}

.icons{
    margin-left: 20px;
    margin-top: 4px;
    color: #959395;
}

.icons-edit{
    margin-left: 20px;
    margin-top: 4px;
    color: #959395;
}

.icons-trash{
    margin-left: 20px;
    margin-top: 4px;
    color: #d88181;;
}

.icon-action{
    margin-left: -520px;
    margin-right: 130px;
}