*{
    font-family: 'Source Sans Pro';
}

.title-todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #70bfdb !important;
    height: 100px !important;
    padding: 50px 30px;
    color: #ffff;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 44px;
}

.todo-list{
    display: flex;
}

.title-todo-list{
    display: flex;
    align-items: center;
    padding-top: 7px;
    border-right: solid 2px;
    margin-right: 60px;
    padding-right: 60px;
    font-size: 30px;
    height: 70px;
}

.text-incompleted{
    margin: 5px 0px 4px 0px !important;
    font-size: 22px;
}

.day{
    color: #ffffff91 !important;
}

.tasks{
    display: flex;
    font-size: 18px;
}

.link-incompleted{
    margin-right: 50px;
}

.link-completed{
    color: #ffffff63 !important;
}

.botton-add-task{
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    padding: 20px 0px 0px 0px !important;
}

.add-task{
    background-color: #70c0db !important;
    border-color: #70c0db !important;
    width: 150px;
    border-radius: 3px;
    padding: 10px;
}

.icons{
    margin-left: 20px;
    margin-top: 4px;
    color: #959395;
}

.icons-edit{
    margin-left: 20px;
    margin-top: 4px;
    color: #959395;
}

thead{
    background-color: #184668;
    color: #ffff;
}

.icon{
    width: 10px;
}

.icons-edit{
    margin-left: 20px;
    margin-top: 4px;
    color: #959395;
}

.icons-trash{
    margin-left: 20px;
    margin-top: 4px;
    color: #d88181;;
}

.icons{
    margin-left: 20px;
    margin-top: 4px;
    color: #959395;
}

@media (min-width: 1200px){
    .container{
        max-width: 1390px !important;
    }
}

.table{
    width: 100%;
    margin-bottom: 1rem;
    background-color: #ffff;
    box-shadow: 1px 5px 5px #00000024;
}

body{
    background-color: #f8f6f7;
}

.action-title{
    padding-left: 27px !important;
}

header div+div div a{
    color: #ffff;
    text-decoration: none !important;
}

a:hover{color:#ffff;
    text-decoration:underline 
}

.tasks-c{
    color: #ffffff63;
}

.text-task{
    color: #6fbdd3;
}

.checkbox{
    margin-left: 20px;
    margin-top: 5px;
}

input[type=checkbox] + label{
    display: block;
    margin: 0.2em;
    cursor: pointer;
}

input[type=checkbox]{
    display: none !important;
}

input[type=checkbox] + label:before{
    content: "\2713";
    border: 0.1em solid #00000024;
    border-radius: 50%;
    width: 18px;
    height: 17px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    padding-right: 0.2em;
    padding-top: 2px;
    vertical-align: bottom;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    transition: .2s;
}

input[type=checkbox] + label:active:before{
    transform:scale(0);
}

input[type=checkbox]:checked + label:before{
    background-color: #959395;
    color: #fff !important;
}

.checkbox-container{
    width: 10px;
}